html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh; }

@media screen and (max-width: 599px) {
  .container {
    width: 70vw; } }

@media screen and (min-width: 600px) {
  .container {
    width: 50vw; } }

@media screen and (min-width: 1200px) {
  .container {
    width: 30vw; } }

.form {
  margin-bottom: 10vh;
  width: 90%; }
  .form__label {
    display: block; }
  .form__tableFilter, .form__btn {
    float: left;
    height: 30px;
    box-sizing: border-box; }
  .form__btn {
    border: 0;
    background-color: gray;
    width: 30px; }

@media screen and (min-width: 1200px) {
  .form__btn {
    cursor: pointer; } }

.table {
  width: 90%; }
  .table__title {
    background-color: gray;
    font-weight: bold; }
    .table__title__cell {
      padding: 2vh; }
  .table__even__cell, .table__odd__cell {
    padding: 2vh; }

.table,
.table__even,
.table__odd {
  border: 1px solid #000; }

body {
  min-height: 100vh;
  display: flex;
  padding-top: 5vh;
  justify-content: center;
  background-color: #9c9c9c; }

